<h2><%= @deal['name'] %></h2>

<img src="<%= @deal['image_url'] %>" alt="">

<p><%= @deal['description'] %></p>

<a href="<%= @deal['url'] %>">Link me up to this awesome deal</a>

<p><a href="/deals/<%= @deal ['id']
 %>/edit"><button>edit</button></a><p>
