
<div class = "dealImage">

  <img src="<%= @deal['image_url'] %>" alt="">

</div>

<div class = "dealDescription">

  <h2><%= @deal['name'] %></h2>

  <p><%= @deal['description'] %></p>

  <div class = "linkMeUp">

    <a href="<%= @deal['url'] %>">Link me up to this awesome deal</a>

  </div>

  <% if @deal['user_id'] == session[:user_id].to_s %>

  <a href="/deals/<%= @deal ['id'] %>/edit"><button>Edit</button></a>

  <% end %>

</div>
